server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:dvgs}?sslmode=${POSTGRES_SSLMODE:prefer}
    username: ${POSTGRES_USER:dvgs}
    password: ${POSTGRES_PASSWORD:dvgs}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: ${DB_SCHEMA_AUTH:auth}
        format_sql: true
    show-sql: false
  flyway:
    enabled: true
    default-schema: ${DB_SCHEMA_AUTH:auth}
    schemas: ${DB_SCHEMA_AUTH:auth}

auth:
  token:
    secret: bXktc3VwZXItc2VjcmV0LWtleS0xMjM0NTY3ODkwMTIzNDU2
    access-ttl: 15m
    refresh-ttl: 30d
    issuer: dvgs-auth
  otp:
    code-length: 6
    ttl: 5m
    resend-cooldown: 45s
    max-attempts: 5
