server:
  port: ${SERVER_PORT:8086}

spring:
  application:
    name: ration-service

  security:
    user:
      name: ${ACTUATOR_USER:actuator}
      password: ${ACTUATOR_PASS:actuator}
      roles: ACTUATOR
    oauth2:
      resourceserver:
        jwt:
          secret: ${AUTH_JWT_SECRET:}

  boot:
    admin:
      client:
        enabled: ${SBA_ENABLED:true}
        url: ${ADMIN_SERVER_URL:http://localhost:8088}
        username: ${ACTUATOR_USER:actuator}
        password: ${ACTUATOR_PASS:actuator}
        instance:
          prefer-ip: true

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

auth:
  jwt:
    issuer: ${AUTH_JWT_ISSUER:dvgs-auth}

ration:
  external:
    base-url: ${RATION_EXTERNAL_BASE_URL:http://localhost:8091}
    timeout-ms: ${RATION_EXTERNAL_TIMEOUT_MS:3000}
  cache:
    enabled: ${RATION_CACHE_ENABLED:true}
    ttl-seconds: ${RATION_CACHE_TTL_SECONDS:300}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,configprops,threaddump,loggers
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    com.dvgs.ration.external: INFO

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
